.banner {
  width: 1500px;
  height: 100px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  align-content: center;
  background-color: transparent;
}

.bannerAd {
  height: 95px;
  width: 700px;
}



