.outercontainer{
  width: 1500px;
  background-color: transparent;
  justify-content: center;
  padding-left: 200px;
}

.backgroundImage {
  background-image: linear-gradient(to bottom, transparent 50%, black), url("./images/Avatar-Way-of-Water-Still-2-Publicity-H-2022.webp");
  width:80%;
  
}

.thumbnail{
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}


.title{
  display: flex;
  color: antiquewhite;
  margin-top: 30px;
  margin-left: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}



.moviesubsection{
  display: flex;
  color: antiquewhite;
  margin-left: 30px;
  align-items: center;
  font-weight: 100;
  margin-bottom: 20px;

}

.PG13{
  display: flex;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.middot{
  margin-left: 10px;
  margin-right: 10px;
}

.starRating{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.TrailerWishlistShare{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.subTWS{
  margin-right: 15px;
}

.subTWS:hover{
  cursor: pointer
}

.material-icons-round{
  align-items: center;
  font-size: 32px;
  color: rgb(255,255,255);
}



