.logo-column {
    width: 200px;
    height: 100px;
    margin: 0px;
    background-color: rgb(10, 14, 65);
    margin: 0%;
    padding: 0%;
}

.blueFrog {
    height: 95px;
    width: 75px;
  }

  h3 {
    color: white;
  }

.blueLogo {
    display: inline-flex;
    align-content: space-between;
  }

  .blueLogo h4{
    display: flex;
    color: rgb(245, 247, 249);
  }