
.searchBar {
    color: #555;
    display: flex;
    padding: 2px;
    /* border: 1px solid currentColor; */
    border-radius: 5px;
  }

.searchBar {
    width: 900px;
    align-content: center;
}

  .searchInputs {
    width: 730px;
    padding: 7px;
    /* border: 1px solid #ccc; */
    align-content: center;
  }

  .inputBox {
    height: 40px;
    width: 300px;
    z-index: 10;
    border-radius: 30px;
    border: 1px;
    border: 1px solid #ccc;
    background-color: transparent;

  } 



